#logo{
	background-image: url(../img/bg.png);
	}

body{
	background-image: url(../img/crisp_paper_ruffles.png);		
	}

.form-horizontal{
	float: right;
	padding-right: 100px;
	padding-top: 100px;
	background-image: url(../img/bg.png);
	}
#leftSide{
	background-image: url(../img/football.jpg);
	padding-top: 10px;
	height: 310px;
	width: auto;
	color: #FFF;
	}
h2{
	color: #FFF;
	}	


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { }	
	
